
/* UNIVERSAL */

body {
    background: rgb(0, 18, 24);
    color: rgb(230, 15, 15);
}
body h1 {
    background-color: rgb(9, 71, 158);
    color: rgb(170, 214, 218);
    text-shadow: 2px 2px 5px black, -2px 2px 5px black; 
    font-size: 80px;
    padding: 3%; 
    padding-top: 115px;
}
body h2 {
    color: rgb(19, 157, 185);
    font-size: 35px;
    padding: 1%;
    padding-top: 50px;
    text-shadow: whitesmoke 0 0 2px;
}
body h3 {
    color: rgb(19, 157, 185);
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 35px;
    text-shadow: whitesmoke 0 0 2px;
}
.albumbox {
    background-color: rgb(0, 18, 24);
}
.card {
    border: 0px solid black;
}
.card-text {
    color: red;
}
.portraits h1, body.graphics h1, body.original h1, body.resume h1, body.engineering h1 {
    color:rgb(190, 236, 232);
    font-size: 50px;
    text-shadow: 4px 0 10px black;
    font-family: 'Charmonman', cursive;
}

/* NAVBAR */

.navbar button:hover {
    background-color: rgb(9, 71, 158);
    border-color: white;
}
nav.navbar {
    background: darkblue;
    color: white;
    border-bottom: 1px solid black;
}
nav.navbar .nav-link {
    color: white;
}
nav.navbar .navbar-brand {
    color: rgb(78, 161, 239);
    text-decoration: double;
}
nav.navbar .navbar-brand:hover {
   color: rgb(255, 0, 0);
}
nav.navbar .nav-link:hover {
    color: rgb(237, 164, 164);
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* PAGES */

/* Index */

body.index div.about {
    color: rgb(201, 232, 255);
    padding-bottom: 50px;
    font-size: 18px;
}

/* Portraits */

body.portraits div.albumbox {
    background-color: rgb(0, 18, 24);
}
#artistquote {
    padding-top: 30px;
}

/* Original */

body.original img {
    max-height: 800px;
}

/* Graphics */

body.graphics div.albumbox {
    background-color: rgb(0, 18, 24);
}
div.wutang div.albumbox {
    background-color: rgb(7, 27, 55)
}
body.graphics div.bloom {
    padding-bottom: 25px;
}
body.graphics em, body.engineering em {
    color: red;
    text-shadow: none;
}
body.graphics div.wutang {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(7, 27, 55)
}

/* Engineering */

body.engineering .bloom.albumbox {
    background-color: rgb(0, 18, 24);
}
body.engineering div.wutang.albumbox {
    background-color: rgb(7, 27, 55);
}
body.engineering #robot div.albumbox {
    display: inline-block !important;
}
body.engineering div.robot img {
    max-width: 200px;
}
body.engineering p.whitetxt {
    color: white;
} 
body.engineering div.wutang {
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: rgb(7, 27, 55)
}

/* Resume */

body.resume p {
    color: white;
}
body.resume h5 {
    padding: 15px 0 20px 0;
    font-size: 25px;
}
body.resume em#degree {
    color:rgb(110, 214, 232);
}
body.resume em {
    color:red;
}
body.resume h4 {
    color: rgb(110, 214, 232);
    font-size: 50px;
    text-shadow: whitesmoke 0 0 2px;
}
body.resume h2 {
    color: rgb(110, 214, 232);
    font-size: 35px;
    padding-top: 20px;
    text-shadow: none;
}
body.resume .contact__inner a[download] {
    background-color: #000263;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    text-decoration: none;  
    padding: 4px;
}
body.resume .contact__inner a:hover {
    border-color: white;
}
body.resume .contact__inner button:hover {
    background-color: rgb(34, 34, 179);
    color: white;
    border-color: white;
    border-width: 2px;   
}
body.resume .contact .contact__inner h4, 
body.resume .contact .contact__inner h5{
   display: inline-flex;
}
body.resume .contact .contact__inner button {
    display: inline-flex;
    height: 32px;
}
body.resume .contact .contact__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
body.resume .contact__inner img {
    max-height: 35px;
}

/* MODAL */

* {box-sizing: border-box;}
 .ImgThumbnail:hover {opacity: 0.7;}
 .ImgThumbnail {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
 }
 .modal {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.9);
 }
 .modal .modal-inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
 }
 .modal .wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .modalImage {
    max-height: 777px;
    max-width: 777px;
 }
 #caption {
    font-style: italic;
    color: #ccc;
    padding: 10px 0;
 }
 .close {
    color: #f1f1f1;
    font-size: 40px;
    line-height: normal;
    font-weight: bold;
    transition: 0.3s;
    margin: 0 0 auto 12px;
 }
 .close:hover,
 .close:focus {
    color: rgb(255, 0, 0);
    cursor: pointer;
 }
*

/* FOOTER */

#back2top {
    padding-bottom: 50px;
    padding-top: 35px;
}
#footing a {
    color: rgb(128, 128, 128);
}
#footing p {
    color: rgb(128, 128, 128);
}
#footing a.nav-link:hover {
    color: white;
}